@import "tailwindcss";

@theme {
    --color-brightColor: #039BAB;
    --color-backgroundColor: #03C9D7;
    --color-backgroundMain: #000000;
    --color-textColor: #333333;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

